﻿header{
			display: flex;
			justify-content: flex-start;
			align-items:center;
			height: 60px;
			background-color: #C75D0F;
			padding-left: 1%;
		}
			h1{
				color: white;
			}

		content{
			display: flex;
			
		}
			#lateral{
				display: flex;
				flex: 1;
				background-color: #21180F;
				padding-left: 1%;
				padding-right: 1%;
				flex-direction: column;
				
			}
				.row-1{
					display: flex;
					flex-direction: column;
					border: 2px solid #745C50;
					padding-left: 2%; 
					margin-top: 2%;
				}
				p{
					color: #745C50;

				}
			#central{
				display: flex;
				flex: 2;
				background-color: #2F2617;
				padding-left: 1%;
				flex-direction: column;
			}
			#nav{
				display: flex;
				flex: 1;
				background-color: orange;
				padding-left: 1%;
			}
				h3{
					color: #BC6726;
					margin-bottom: 0px;
				}
			#central div{
				display: flex;
				flex-direction: row;
				align-items: center;

			}
			#central div h3{
			margin:0;
			margin-right:5px;
}

